<h1>{{title}}</h1>

<p>
This page reports the result of loading external data sheets into the database as certification documents.
</p>
<ul>
<li>Downloads attempted: {{downloadCount}}</li>
<li>Unusable links: {{invalidCount}}</li>
<li>Duplicates found: {{dupCount}}</li>
<li>Documents added: {{addedCount}}</li>
<li>Data sheets cleared: {{clearedCount}}</li>
</ul>
