<h1>{{title}}</h1>

<p>
This page shows the unique propellant types by manufacturer for all motors
(including ones that are out of production).
</p>

<style type="text/css">
#propellant-list>tbody>tr>td {
  vertical-align: middle;
}
#propellant-list td.check {
  text-align: center;
}
#propellant-list td.update button {
  padding: 2pt 8pt;
}
</style>

<table id="propellant-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Manufacturer</th>
     <th>Propellant</th>
     <th class="number">Total</th>
     <th class="number">Available</th>
     <th>Flame</th>
     <th>Smoke</th>
     <th>Sparky</th>
     <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {{#each propellants}}
    <form id="update-{{key}}" method="post">
      <input type="hidden" name="manufacturer" value="{{mfr}}" />
      <input type="hidden" name="name" value="{{name}}" />
    </form>
    <tr class="entry">
      <td>{{mfr}}</a></td>
      <td><a href="/motors/search.html?manufacturer={{mfr}}&propellantInfo={{name}}&availability=all">{{name}}</a></td>
      <td class="number">{{total}}</td>
      <td class="number">{{available}}</td>
      <td class="input"><input form="update-{{key}}" type="text" name="flameColor" value="{{flameColor}}" /></td>
      <td class="input"><input form="update-{{key}}" type="text" name="smokeColor" value="{{smokeColor}}" /></td>
      <td class="check"><input form="update-{{key}}" type="checkbox" name="sparky" {{#if sparky}}checked{{/if}} /></td>
      <td class="update"><button form="update-{{key}}" class="btn btn-default btn-sm" type="submit">Save</button</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#certorg-list', {
  order: [[0, 'asc']],
  expand: true
});
</script>

<p>
<a href="/admin/propellants/propellants.csv">Download this table</a>
or
<a href="/admin/propellants/guess.csv">guess the colors</a>.
</p>
