<h1>{{title}}</h1>

<div class="row">
  <!-- left col -->
  <div class="col-md-6">
    <div role="form" class="form-horizontal form-condensed">
      <div class="form-group">
        <label class="col-sm-6 control-label">Motor</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{motorLink motor}}">{{motor._manufacturer.abbrev}} {{motor.designation}}</a></p>
        </div>
      </div>

      {{#if simfile._contributor}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Contributor</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{contributorLink simfile._contributor}}">{{simfile._contributor.name}}</a></p>
        </div>
      </div>
      {{/if}}
    
      <div class="form-group">
        <label class="col-sm-6 control-label">Data Format</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{simfile.format}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Data Source</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{simfile.dataSource}}</p>
        </div>
      </div>

      {{#if simfile.license}}
      <div class="form-group">
        <label class="col-sm-6 control-label">License</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{simfile.license}}</p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Submitted</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDate simfile.createdAt}}</p>
        </div>
      </div>
      {{#updatedLater simfile}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Last Updated</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDate simfile.updatedAt}}</p>
        </div>
      </div>
      {{/updatedLater}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Data File</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{downloadLink}}" download>download</a></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Raw Data</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a id="data-link" href="#data">view</a></p>
        </div>
      </div>
    </div>
  </div> <!-- left col -->

  <!-- right col -->
  <div class="col-md-6">
    <p style="margin-bottom: 0"><a href="/info/contribute.html#accuracy">Accuracy</a> of this data file:</p>
    <table class="comparison table table-condensed">
      <thead>
        <tr>
         <th>&nbsp;</th>
         <th>This File</th>
         <th>Certified</th>
         <th>&plusmn;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Diameter</th>
          <td>{{formatMMT info.diameter}}</td>
          <td>{{formatMMT motor.diameter}}</td>
          <td>{{formatAccuracy info.diameter motor.diameter 1}}</td>
        </tr>
        <tr>
          <th>Length</th>
          <td>{{formatLength info.length}}</td>
          <td>{{formatLength motor.length}}</td>
          <td>{{formatAccuracy info.length motor.length}}</td>
        </tr>
        <tr>
          <th>Prop. Weight</th>
          <td>{{formatMass info.propellantWeight}}</td>
          <td>{{formatMass motor.propellantWeight}}</td>
          <td>{{formatAccuracy info.propellantWeight motor.propellantWeight}}</td>
        </tr>
        <tr>
          <th>Total Weight</th>
          <td>{{formatMass info.totalWeight}}</td>
          <td>{{formatMass motor.totalWeight}}</td>
          <td>{{formatAccuracy info.totalWeight motor.totalWeight}}</td>
        </tr>
        <tr>
          <th>Avg. Thrust</th>
          <td>{{formatForce stats.avgThrust}}</td>
          <td>{{formatForce motor.avgThrust}}</td>
          <td>{{formatAccuracy stats.avgThrust motor.avgThrust}}</td>
        </tr>
        <tr>
          <th>Max. Thrust</th>
          <td>{{formatForce stats.maxThrust}}</td>
          <td>{{formatForce motor.maxThrust}}</td>
          <td>{{formatAccuracy stats.maxThrust motor.maxThrust}}</td>
        </tr>
        <tr>
          <th>Total Impulse</th>
          <td>{{formatImpulse stats.totalImpulse}}</td>
          <td>{{formatImpulse motor.totalImpulse}}</td>
          <td>{{formatAccuracy stats.totalImpulse motor.totalImpulse}}</td>
        </tr>
        <tr>
          <th>Burn Time</th>
          <td>{{formatDuration stats.burnTime}}</td>
          <td>{{formatDuration motor.burnTime}}</td>
          <td>{{formatAccuracy stats.burnTime motor.burnTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div> <!-- row -->

{{#if errors}}
<h2>File Errors</h2>
<p>
{{#if parsed}}
File is usabled, but has some problems:
{{/if}}
{{#unless parsed}}
File couldn't be parsed and may be unusable:
{{/unless}}
</p>
<ul>
{{#each errors}}
<li>{{message}}</li>
{{/each}}
</ul>
{{/if}}

{{#if editLink}}
<p>
<a href="{{editLink}}">Edit this data file</a>
or
<a href="{{deleteLink}}">delete it entirely</a>.
</p>
{{/if}}

{{#if parsed}}
<h2>Data Graph</h2>
<object id="thrustcurve" type="image/svg+xml" data="{{graphLink}}">
  Sadly, your browser doesn't support SVG images.
</object>
<script type="text/javascript">
$(document).ready(function() {
  setTimeout(function() {
    svgPanZoom('#thrustcurve', {
      controlIconsEnabled: true
    });
  }, 100);
});
</script>
{{/if}}

<a name="notes"></a>
<h2>File Notes</h2>

{{#if notes}}
<table id="note-list" class="table table-bordered notes">
  {{#each notes}}
    <tr data-id="{{_id}}">
      <th class="subject">{{subject}}</a></td>
      <th><a href="{{contributorLink _contributor}}">{{_contributor.name}}</a></td>
      <th>{{formatDate updatedAt}}</td>
    </tr>
    <tr class="content">
      <td colspan="3">{{renderBBCode content}}</td>
    </tr>
  {{/each}}
</table>
{{/if}}

<p>
Do you have a comment on this file?
Please <a href="{{simfileLink simfile}}/note.html">add a note</a>.
</p>

<a name="data"></a>
<div id="data" class="hidden-xs hidden-sm">
<h2>Raw Data</h2>
<pre class="data">{{simfile.data}}</pre>
<script type="text/javascript">
$('#data-link').click(function(e) {
  console.log('#data-link');
  $('#data').removeClass('hidden-xs hidden-sm').show();
});
</script>
</div>

{{#if pointsLink}}
<p>
You can also <a href="{{pointsLink}}">download the raw data points</a> as a CSV file.
</p>
{{/if}}
