<h1>{{title}}</h1>

<div class="row">
  <!-- left col -->
  <div class="col-md-8">
    <div role="form" class="form-horizontal form-condensed">
      {{#if rocket}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Rocket</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{rocketLink}}">{{rocket.name}}</a></p>
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Motor</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{motorLink manufacturer motor}}">{{manufacturer.abbrev}} {{motor.designation}}</a></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">MMT</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{run.mmt}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Result</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{#if run.fail}}<b>bad</b>: {{run.reason}}{{else}}good{{/if}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Thrust/Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatRatio run.thrustWeight}}</p>
        </div>
      </div>
      {{#if run.simulation}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Rocket Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass run.simulation.inputs.rocketMass}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Motor Initial Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass run.simulation.inputs.motorInitialMass}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Motor Burnout Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass run.simulation.inputs.motorBurnoutMass}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Loaded Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass run.simulation.inputs.loadedInitialMass}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Total Impulse</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatImpulse run.simulation.inputs.motorTotalImpulse}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Liftoff Time</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDurationFine run.simulation.liftoffTime}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Burnout Time</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDurationFine run.simulation.burnoutTime}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Apogee Time</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDurationFine run.simulation.apogeeTime}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Guide Velocity</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatVelocity run.simulation.guideVelocity}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Max. Velocity</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatVelocity run.simulation.maxVelocity}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Max. Acceleration</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatAcceleration run.simulation.maxAcceleration}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Burnout Altitude</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatAltitude run.simulation.burnoutAltitude}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Max. Altitude</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatAltitude run.simulation.maxAltitude}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Integrated Impulse</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatImpulse run.simulation.integratedImpulse}}</p>
        </div>
      </div>
      {{else}}
      <p>No simulation run</p>
      {{/if}}
    </div>
  </div> <!-- left col -->

  <!-- right col -->
  <div class="col-md-4">
    {{#if isCompare}}
    <p>Compared with all {{allResults.sim}} simulations:</p>

    <img class="compare" src="{{guideApogeeImg}}"/>
    <p class="compare-legend">Apogee</p>

    <img class="compare" src="{{guideVelocityImg}}"/>
    <p class="compare-legend">Max. Velocity</p>

    <img class="compare" src="{{guideAccelerationImg}}"/>
    <p class="compare-legend">Max. Acceleration</p>

    <img class="compare" src="{{guideWeightImg}}"/>
    <p class="compare-legend">Loaded Weight</p>
    {{/if}}
  </div> <!-- right col -->

</div> <!-- row -->

<p>
See the <a href="{{summaryLink}}">summary results</a> for just motors that work or
the <a href="{{completeLink}}">complete results</a> with all motors.
</p>
