<h1>{{title}}</h1>
{{#if rockets}}
{{#extend "sidebar-extra"}}
  <h2>My Rockets</h2>
  <ul class="links">
  {{#each rockets}}
    <li><a href="/motors/guide.html?rocket={{_id}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/mystuff/rocket/new/edit.html">Add&hellip;</a></li>
  </ul>
{{/extend}}
{{/if}}

{{#each errors}}
<div class="alert alert-danger" role="alert">
{{this}}
</div>
{{/each}}
{{#each warnings}}
<div class="alert alert-warning" role="alert">
{{this}}
</div>
{{/each}}

<p>
The motor guide allows you to quickly find motors that will work for a rocket;
<a href="guidehelp.html">see the help page</a> for more info.
{{#if rockets}}
Running it on one of your <a href="{{rocketsLink}}">existing rockets</a> is easier and you will have more options.
</p>
<form role="form" class="form-horizontal" name="rockets" action="/motors/guide.html" method="get">
  <div class="form-group">
    <label for="diameter" class="col-sm-3 control-label">Rocket</label>
    <div class="col-sm-6">
      <select class="form-control" name="rocket">
	{{#each rockets}}
	<option value="{{_id}}">{{name}}</option>
	{{/each}}
      </select>
    </div>
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">Choose</button>
    </div>
  </div>
</form>
<p>
{{else}}
If you <a href="{{rocketsLink}}">create a rocket</a>,
you can run the guide more easily in future as well as have more options.
{{/if}}
Otherwise, you can try the guide out by entering key info here.
</p>

<form role="form" class="form-horizontal" name="guide" action="{{submitLink}}" method="post" data-toggle="validator">
  <p class="col-sm-offset-3 col-sm-9 form-control-static">Rocket Information</p>
  <div class="form-group">
    <label for="diameter" class="col-sm-3 control-label">Body Diameter</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="bodyDiameter"
             step="0.001" min="0.001" required
             value="{{rocket.bodyDiameter}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="bodyDiameterUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.bodyDiameterUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="weight" class="col-sm-3 control-label">Dry Weight</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="weight"
             required
             value="{{rocket.weight}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="weightUnit" required>
        {{#each massUnits}}
	<option value="{{label}}" {{#equal label ../rocket.weightUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="mmtDiameter" class="col-sm-3 control-label">MMT Diameter</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="mmtDiameter"
             step="0.001" min="0.001" required
             value="{{rocket.mmtDiameter}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="mmtDiameterUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.mmtDiameterUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="mmtLength" class="col-sm-3 control-label">MMT Length</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="mmtLength"
             step="0.001" min="0.001" required
             value="{{rocket.mmtLength}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="mmtLengthUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.mmtLengthUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cd" class="col-sm-3 control-label">C<sub>D</sub></label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="cd"
             step="0.01" min="0.1" required
             value="{{rocket.cd}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="finish">
        <option></option>
	{{#each finishes}}
	<option value="{{value}}" {{#equal value ../rocket.cd}}selected{{/equal}}>{{label}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="guideLength" class="col-sm-3 control-label">Guide Length</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="guideLength"
             step="0.001" min="0.001" required
             value="{{rocket.guideLength}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="guideLengthUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.guideLengthUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>

  <p class="col-sm-offset-3 col-sm-9 form-control-static">Filter Motors</p>
  <div class="form-group">
    <label for="class" class="col-sm-3 control-label">Impulse Class</label>
    <div class="col-sm-9">
      <select class="form-control" name="class">
        <option value="">All</option>
        {{#each metadata.impulseClasses}}
        <option {{#equal ../filter.class this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="type" class="col-sm-3 control-label">Motor Type</label>
    <div class="col-sm-9">
      <select class="form-control" name="type">
        <option value="">All</option>
        {{#each schema.MotorTypeEnum}}
        <option {{#equal ../filter.type this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="manufacturer" class="col-sm-3 control-label">Manufacturer</label>
    <div class="col-sm-9">
      <select class="form-control" name="manufacturer">
        <option value="">All</option>
	{{#each metadata.manufacturers}}
        <option value="{{_id}}" {{#sameId ../filter.manufacturer _id}}selected{{/sameId}}>{{name}}</option>
	{{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
<script type="text/javascript">
$('input[name=cd]').blur(function(e) {
  var cd = parseFloat($(this).val());

  if (isNaN(cd) || cd < 0.1)
    $('#finish').val('')
  {{#each finishes}}
  else{{#unless last}} if (cd <= {{value}}){{/unless}}
    $('#finish').val('{{value}}')
  {{/each}}
});
$('#finish').change(function(e) {
  var cd = parseFloat($(this).val());
  if (cd > 0)
    $('input[name=cd]').val(cd);
});
</script>

<h2>Other's Rockets</h2>
<p>
There are also {{publicCount}} public rockets entered by other people you can try out.
</p>
<table id="public-rockets" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th class="number">Body Diam</th>
      <th class="number">Weight</th>
      <th class="number">MMT Diam</th>
      <th class="number">MMT Len</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
  {{#each publicRockets}}
    <tr>
      <td><a href="/motors/guide.html?rocket={{_id}}">{{name}}</a></td>
      <td class="number" data-sort="{{formatSort bodyDiameter 'length' bodyDiameterUnit}}">{{formatLength bodyDiameter bodyDiameterUnit}}</td>
      <td class="number" data-sort="{{formatSort weight 'mass' weightUnit}}">{{formatMass weight weightUnit}}</td>
      <td class="number" data-sort="{{formatSort mmtDiameter 'length' mmtDiameterUnit}}">{{formatLength mmtDiameter mmtDiameterUnit}}</td>
      <td class="number" data-sort="{{formatSort mmtLength 'length' mmtLengthUnit}}">{{formatLength mmtLength mmtLengthUnit}}</td>
      <td>{{_contributor.name}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#public-rockets', {
  order: [[0,'asc']]
});
</script>
