<h1>{{title}}</h1>
{{#if rockets}}
{{#extend "sidebar-extra"}}
  <h2>My Rockets</h2>
  <ul class="links">
  {{#each rockets}}
    <li><a href="/motors/guide.html?rocket={{_id}}">{{name}}</a></li>
  {{/each}}
  </ul>
{{/extend}}
{{/if}}

<p>
The motor guide allows you to quickly find motors that will work for a rocket;
<a href="guidehelp.html">see the help page</a> for more info.
{{#if rockets}}
Running it on one of your <a href="/mystuff/rockets.html">existing rockets</a> is quicker and you will have more options.
{{else}}
If you <a href="/mystuff/rockets.html">create a rocket</a>,
you can run the guide more easily in future as well as have more options.
{{/if}}
Otherwise, you can try the guide out by entering the key info here.
</p>

{{#each errors}}
<div class="alert alert-danger" role="alert">
{{this}}
</div>
{{/each}}

<form role="form" class="form-horizontal" name="guide" action="{{submitLink}}" method="post" data-toggle="validator">
  <p class="col-sm-offset-3 col-sm-9 form-control-static">Rocket Information</p>
  <div class="form-group">
    <label for="diameter" class="col-sm-3 control-label">Body Diameter</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="bodyDiameter"
             step="0.001" min="0.001" required
             value="{{rocket.bodyDiameter}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="bodyDiameterUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.bodyDiameterUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="weight" class="col-sm-3 control-label">Dry Weight</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="weight"
             required
             value="{{rocket.weight}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="weightUnit" required>
        {{#each massUnits}}
	<option value="{{label}}" {{#equal label ../rocket.weightUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="mmtDiameter" class="col-sm-3 control-label">MMT Diameter</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="mmtDiameter"
             step="0.001" min="0.001" required
             value="{{rocket.mmtDiameter}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="mmtDiameterUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.mmtDiameterUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="mmtLength" class="col-sm-3 control-label">MMT Length</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="mmtLength"
             step="0.001" min="0.001" required
             value="{{rocket.mmtLength}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="mmtLengthUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.mmtLengthUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cd" class="col-sm-3 control-label">C<sub>D</sub></label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="cd"
             step="0.01" min="0.1" required
             value="{{rocket.cd}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="finish">
        <option></option>
	{{#each finishes}}
	<option value="{{value}}" {{#equal value ../rocket.cd}}selected{{/equal}}>{{label}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="guideLength" class="col-sm-3 control-label">Guide Length</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="guideLength"
             step="0.001" min="0.001" required
             value="{{rocket.guideLength}}">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="guideLengthUnit" required>
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../rocket.guideLengthUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>

  <p class="col-sm-offset-3 col-sm-9 form-control-static">Filter Motors</p>
  <div class="form-group">
    <label for="class" class="col-sm-3 control-label">Impulse Class</label>
    <div class="col-sm-9">
      <select class="form-control" name="class">
        <option value="">All</option>
        {{#each metadata.impulseClasses}}
        <option {{#equal ../filter.class this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="type" class="col-sm-3 control-label">Motor Type</label>
    <div class="col-sm-9">
      <select class="form-control" name="type">
        <option value="">All</option>
        {{#each schema.MotorTypeEnum}}
        <option {{#equal ../filter.type this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="manufacturer" class="col-sm-3 control-label">Manufacturer</label>
    <div class="col-sm-9">
      <select class="form-control" name="manufacturer">
        <option value="">All</option>
	{{#each metadata.manufacturers}}
        <option value="{{_id}}" {{#sameId ../filter.manufacturer _id}}selected{{/sameId}}>{{name}}</option>
	{{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
