<h1>{{title}}</h1>
{{#if rockets}}
{{#extend "sidebar-extra"}}
  <h2>My Rockets</h2>
  <ul class="links">
  {{#each rockets}}
    <li><a href="/motors/guide.html?rocket={{_id}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/mystuff/rocket/new/edit.html">Add&hellip;</a></li>
  </ul>
{{/extend}}
{{/if}}

{{#each result.warnings}}
<div class="alert alert-warning" role="alert">
{{this}}
</div>
{{/each}}

{{#unless anyResults}}
<p>
No motors fit
{{#if result.rocket}}<a href="/mystuff/rocket/{{result.rocket._id}}/">{{result.rocket.name}}</a>{{else}}the rocket{{/if}}
and satisfied the search criteria.
<br/>
Use your back button to adjust the inputs or <a href="{{restartLink}}">start over</a>.
</p>
{{/unless}}
{{#if anyResults}}
<p>
{{result.fit}} motors fit
{{#if result.rocket}}<a href="/mystuff/rocket/{{result.rocket._id}}/">{{result.rocket.name}}</a>{{else}}the rocket{{/if}}
{{#if result.inputs.cluster}}({{formatInt result.inputs.cluster}}-motor cluster){{/if}}
and satisfied the search criteria;
{{result.pass}} worked
{{#if result.fail}}and {{result.fail}} did not{{/if}}
({{result.sim}} simulations run).
<br/>
If these aren't what you want, use the back button to adjust the inputs or <a href="{{restartLink}}">start over</a>.
</p>
{{/if}}
{{#if passResults}}
<table id="result-list" class="table table-bordered">
  <thead>
    <tr>
      <th>Designation</th>
      <th class="visible-md visible-lg">Manufacturer</th>
      {{#if multiDiam}}
      <th class="visible-lg">Diam.</th>
      {{/if}}
      <th class="number" title="thrust-to-weight ratio">T:W</th>
      <th class="number hidden-xs" title="velocity off launch guide">Guide</th>
      <th class="number hidden-xs" title="maximum speed">Velocity</th>
      <th class="number hidden-xs" title="maximum acceleration">Accel</th>
      <th class="number" title="maximum altitude">Apogee</th>
      <th class="number" title="optimal delay time">Delay</th>
    </tr>
  </thead>
  <tbody>
  {{#each passResults}}
    <tr data-id="{{motor._id}}">
      <td><a href="{{motorLink manufacturer motor}}">{{motor.designation}}</a></td>
      <td class="visible-md visible-lg">{{manufacturer.abbrev}}</td>
      {{#if ../multiDiam}}
      <td class="visible-lg">{{formatMMT motor.diameter}}</td>
      {{/if}}
      <td class="number" data-sort="{{formatSort thrustWeight}}">{{formatRatio thrustWeight}}</td>
      <td class="number hidden-xs" data-sort="{{formatSort simulation.guideVelocity}}">{{formatVelocity simulation.guideVelocity}}</td>
      <td class="number hidden-xs" data-sort="{{formatSort simulation.maxVelocity}}">{{formatVelocity simulation.maxVelocity}}</td>
      <td class="number hidden-xs" data-sort="{{formatSort simulation.maxAccleration}}">{{formatAcceleration simulation.maxAcceleration}}</td>
      <td class="number" data-sort="{{formatSort simulation.maxAltitude}}">{{formatAltitude simulation.maxAltitude}}</td>
      <td class="number" data-sort="{{formatSort optimalDelay}}">{{formatDuration optimalDelay}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#result-list', {
  order: [[6, 'asc']],
  expand: true
});
</script>
{{/if}}

<p>
See the <a href="{{detailsLink}}">complete results</a> for more details or
<a href="{{spreadsheetLink}}">download a spreadsheet</a>
(or <a href="{{csvLink}}">CSV file</a>)
with complete results.
</p>
