<h1>{{title}}</h1>
{{#if rockets}}
{{#extend "sidebar-extra"}}
  <h2>My Rockets</h2>
  <ul class="links">
  {{#each rockets}}
    <li><a href="/motors/guide.html?rocket={{_id}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/mystuff/rocket/new/edit.html">Add&hellip;</a></li>
  </ul>
{{/extend}}
{{/if}}

{{#each warnings}}
<div class="alert alert-warning" role="alert">
{{this}}
</div>
{{/each}}

{{#unless allResults}}
<p>
No motors fit your rocket and satisfied the search criteria.
<br/>
Use your back button to adjust the inputs or <a href="{{restartLink}}">start over</a>.
</p>
{{/unless}}
{{#if allResults}}
<p>
{{fitCount}} motors fit the rocket;
{{passCount}} worked
{{#if failCount}}and {{failCount}} did not{{/if}}
({{simCount}} simulations run).
<br/>
If these aren't what you want, use the back button to adjust the inputs or <a href="{{restartLink}}">start over</a>.
</p>
{{/if}}
{{#if passResults}}
<table id="result-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Designation</th>
     <th class="visible-md visible-lg">Manufacturer</th>
     <th class="number">T:W</th>
     <th class="number">Guide</th>
     <th class="number visible-lg">Velocity</th>
     <th class="number visible-lg">Accel</th>
     <th class="number">Apogee</th>
     <th class="number">Delay</th>
    </tr>
  </thead>
  <tbody>
  {{#each passResults}}
    <tr data-id="{{motor._id}}">
      <td><a href="{{motorLink manufacturer motor}}">{{motor.designation}}</a></td>
      <td class="visible-md visible-lg">{{manufacturer.abbrev}}</td>
      <td class="number" data-sort="{{formatSort thrustWeight}}">{{formatRatio thrustWeight}}</td>
      <td class="number" data-sort="{{formatSort simulation.guideVelocity}}">{{formatVelocity simulation.guideVelocity}}</td>
      <td class="number" data-sort="{{formatSort simulation.maxVelocity}}">{{formatVelocity simulation.maxVelocity}}</td>
      <td class="number visible-lg" data-sort="{{formatSort simulation.maxAccleration}}">{{formatAcceleration simulation.maxAcceleration}}</td>
      <td class="number visible-lg" data-sort="{{formatSort simulation.maxAltitude}}">{{formatAltitude simulation.maxAltitude}}</td>
      <td class="number" data-sort="{{formatSort optimalDelay}}">{{formatDuration optimalDelay}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#result-list', {
  order: [[6, 'asc']],
  expand: true
});
</script>
{{/if}}
