<h1>{{title}}</h1>
{{#if rockets}}
{{#extend "sidebar-extra"}}
  <h2>My Rockets</h2>
  <ul class="links">
  {{#each rockets}}
    <li><a href="/motors/guide.html?rocket={{_id}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/mystuff/rocket/new/edit.html">Add&hellip;</a></li>
  </ul>
{{/extend}}
{{/if}}

{{#each result.warnings}}
<div class="alert alert-warning" role="alert">
{{this}}
</div>
{{/each}}

<p>
The most extreme results of the {{result.sim}} simulations run for
{{#if result.rocket}}<a href="/mystuff/rocket/{{result.rocket._id}}/">{{result.rocket.name}}</a>{{else}}the rocket{{/if}}.
{{#unless tables}}
Not enough simulations were run to build the comparison tables.
Use your back button to adjust the inputs or <a href="{{restartLink}}">start over</a>.
{{/unless}}
</p>

{{#if tables}}
<style type="text/css">
div.col {
  margin: 6pt 0;
}
p.title {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  background-color: #ddd;
}
table.top {
  width: 100%;
}
table.top td {
  white-space: nowrap;
  overflow: hidden;
}
td.bar {
  width: 100px;
  padding: 0px;
  vertical-align: middle;
  background-color: #eee;
}
td.number {
  padding-right: 3pt;
}
div.bar {
  border-radius: 2pt;
  height: 8pt;
  background-color: #666;
}
</style>

<div class="row">
  {{#each tables}}
  <div class="col col-md-6">
    <p class="title">{{label}}</p>
    <table class="top">
      {{#each rows}}
      <tr>
        <td><a href="{{detailsLink}}">{{manufacturer.abbrev}} {{motor.designation}}</a></td>
        <td class="number">{{formatted}}</td>
        <td class="bar"><div class="bar" style="width: {{percent}}px;"></div></td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{/each}}
</div>
{{/if}}

<p>
Back to the <a href="{{summaryLink}}">summary results</a>.
</p>
