<h1>{{title}}</h1>

{{#if isSaved}}
<div class="alert alert-success" role="alert">
Changes to manufacturer saved.
</div>
{{/if}}
{{#if isCreated}}
<div class="alert alert-success" role="alert">
New manufacturer created.
</div>
{{/if}}
{{#if isUnchanged}}
<div class="alert alert-success" role="alert">
No changes to save.
</div>
{{/if}}

<form role="form" class="form-horizontal" name="edit" action="{{submitLink}}" method="post" data-toggle="validator">
  {{#unless isNew}}
  <div class="form-group">
    <label for="id" class="col-sm-3 control-label">ID</label>
    <div class="col-sm-9">
      <p class="id form-control-static">{{{manufacturer._id}}}</p>
    </div>
  </div>
  {{/unless}}
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Company</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name"
             pattern="^[A-Z][A-Za-z0-9/,. -]+$" required data-error="full name, no special characters"
             placeholder="company name" value="{{{manufacturer.name}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="abbrev" class="col-sm-3 control-label">Abbreviation</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="abbrev"
             pattern="^[A-Z][A-Za-z0-9/-]+$" required data-error="single word, no special characters"
             placeholder="CN" value="{{{manufacturer.abbrev}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="aliases" class="col-sm-3 control-label">Aliases</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="aliases"
             pattern="^[A-Z][A-Za-z0-9/ -]*( *, *[A-Z][A-Za-z0-9/ -]*)*$" required data-error="letters or words, separated by commas"
             placeholder="a1, a2, ...", value="{{{manufacturer.aliases}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group website">
    <label for="website" class="col-sm-3 control-label">Web Site</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="url" class="form-control" name="website"
               placeholder="http://..." value="{{{manufacturer.website}}}">
        <span class="input-group-addon"><a href="#" class="test"><i class="fa fa-external-link"></i></a></span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <input type="checkbox" name="active" {{#if manufacturer.active}}checked{{/if}}> Active
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>

<script type="text/javascript">
$('.website .test').click(function(e) {
  var site, a;

  e.preventDefault();

  site = $.trim($(this).closest('div.input-group').find('input').val());
  if (site)
    window.open(site, "_blank");
});
</script>
