<h1>{{title}}</h1>

<style type="text/css">
img.chart, svg {
  width: 100%;
  height: auto;
}
table.stats th {
  font-weight: normal;
  padding-right: 0.8em;
  text-align: left;
}
.popover .arrow {
  display: none;
}
</style>

<p>
{{#unless motors}}
You haven't selected any motors for comparison.
As you view details of different motors, the ones you've seen most recently will be visible in
<a href="/motors/recent.html">Recently Viewed</a> and you can compare them.
You can also compare motors from the <a href="/motors/search.html">Attribute Search</a> results.
{{/unless}}
{{#if motors}}
You selected {{length motors}}
{{#if multiClasses}}(in {{length impulseClasses}} impulse classes){{/if}}
{{#if singleClass}}({{singleClass}} impulse){{/if}}
motors for comparison.
{{#unless canCompare}}
You need at least two motors to compare.
{{/unless}}
{{/if}}
<br/>
Use the <b>Add Motor</b> button to select more motors.
</p>

<form name="compare" method="get" action="/motors/compare.html">
<table id="motor-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Designation</th>
     <th>Manufacturer</th>
     <th class="number hidden-sm hidden-xs">Avg Thr</th>
     <th class="number hidden-xs">Impulse</th>
     <th class="action no-sort">Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each motors}}
    <tr>
      <td>{{motorDesignation this}}</td>
      <td>{{_manufacturer.abbrev}}</td>
      <td class="number hidden-sm hidden-xs" data-sort="{{formatSort avgThrust}}">{{formatForce avgThrust}}</td>
      <td class="number hidden-xs" data-sort="{{formatSort totalImpulse}}">{{formatImpulse totalImpulse}}</td>
      <td class="action">
        <input type="hidden" name="motors" value="{{_id}}"/>
        <a href="#" class="delete" title="remove this motor"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-secondary add">Add Motor</button>
<button type="submit" class="btn btn-primary">Compare Motors</button>
</form>

<script type="text/javascript">
function rowClicks(rows) {
  rows.find('a.delete').click(function(e) {
    e.preventDefault();
    const row = $(this).closest('tr');
    row.remove();
    renumber();
    updateActions();
  });
}

function updateActions() {
  const form = $('form[name=compare]');
  const rows = form.find('tbody tr');
  if (rows.length > 1)
    form.find('button[type=submit]').removeAttr('disabled');
  else
    form.find('button[type=submit]').attr('disabled', 'disabled');
}

$(document).ready(function() {
  const form = $('form[name=compare]');
  rowClicks(form.find('tbody tr'));
  form.find('button.add').click(e => {
    selectMotor((mfr, desig, id) => {
      const row = $(`<tr>
        <td>${desig}</td>
        <td>${mfr}</td>
        <td class="action">
          <input type="hidden" name="motors" value="${id}"/>
          <a href="#" class="delete" title="remove this motor"><i class="fa fa-trash"></i></a>
        </td>
      </tr>`);
      $('table#motor-list tbody').append(row);
      rowClicks(row);
      updateActions();
    });
  });
  updateActions();
});
</script>

{{#if canCompare}}
<div class="row">
  <div class="col-md-6">
    <h2>Burn Time vs Impulse</h2>
    {{#if impulseBurnTimeImg}}
    <img class="chart" id="impulseBurnTime" src="{{impulseBurnTimeImg}}" />
    {{/if}}
  </div>
  <div class="col-md-6">
    <h2>Avg Thrust vs Impulse</h2>
    {{#if impulseAvgThrustImg}}
    <img class="chart" id="impulseAvgThrust" src="{{impulseAvgThrustImg}}" />
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Thrust Curve Overlay</h2>
    {{#if thrustCurveImg}}
    <img class="chart" id="thrustCurve" src="{{thrustCurveImg}}" />
    {{/if}}
  </div>
</div>

<div class="hidden-xs">
<h2>Motor Details</h2>
<table id="motor-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Designation</th>
     <th>Manufacturer</th>
     <th>Type</th>
     <th class="number">Diam</th>
     <th class="number">Impulse</th>
     <th class="number">Avg Thr</th>
     <th class="number">Burn</th>
     <th class="action no-sort"><input type="checkbox" id="select-all" title="select/deselect all"/></th>
    </tr>
  </thead>
  <tbody>
  {{#each motors}}
  <tr data-id="{{_id}}">
    <td><a href="{{motorLink _manufacturer this}}">{{motorDesignation this}}</td>
    <td>{{_manufacturer.abbrev}}</td>
    <td>{{formatType type}}</td>
    <td class="number" data-sort="{{formatSort diameter}}">{{formatMMT diameter}}</td>
    <td class="number" data-sort="{{formatSort totalImpulse}}">{{formatImpulse totalImpulse}}</td>
    <td class="number" data-sort="{{formatSort avgThrust}}">{{formatForce avgThrust}}</td>
    <td class="number" data-sort="{{formatSort burnTime}}">{{formatDuration burnTime}}</td>
    <td class="action"><input type="checkbox" name="select" value="{{_id}}" title="select this motor"/></th>
  </tr>
  {{/each}}
  </tbody>
</table>
<p>Choose two or more motors from the list to <a id="compare" href="#">Compare again</a>.</p>
</div>

<script type="text/javascript">
const Motors = {
{{#each motors}}
  "{{_id}}": {
    title: "{{motorFullName this}}",
    diameter: "{{formatMMT diameter}}",
    totalImpulse: "{{formatImpulse totalImpulse}}",
    avgThrust: "{{formatForce avgThrust}}",
    maxThrust: "{{formatForce maxThrust}}",
    burnTime: "{{formatDuration burnTime}}",
    detailLink: "{{motorLink this}}"
  },
{{/each}}
};

function popoverTitle() {
  let svg = $(this),
      id, info;

  id = svg.attr('id').replace(/[^-]*-/g, '');
  if (id && (info = Motors[id]))
    return info.title;
  else
    return svg.attr('title') || svg.attr('orig-title');
}

function popoverContent() {
  let svg = $(this),
      id, info;

  id = svg.attr('id');
  let what = /^thrustcurve/.test(id) ? 'line' : 'point';
  id = id.replace(/[^-]*-/g, '');
  if (id && (info = Motors[id])) {
    return $('<table class="stats">' +
             '<tr><th>Diameter:</th><td>' + info.diameter + '</td></tr>\n' +
             '<tr><th>Tot Impulse:</th><td>' + info.totalImpulse + '</td></tr>\n' +
             '<tr><th>Avg Thrust:</th><td>' + info.avgThrust + '</td></tr>\n' +
             '<tr><th>Max Thrust:</th><td>' + info.maxThrust + '</td></tr>\n' +
             '<tr><th>Burn Time:</th><td>' + info.burnTime + '</td></tr>\n' +
             '</table>\n' +
             '<small>click ' + what + ' for motor page</small>');
  } else {
    return '';
  }
}

function hoverMotor(e) {
  let svg = $(this),
      id, info;

  id = svg.attr('id').replace(/[^-]*-/g, '');
  if (id) {
    $('.motor-point:not(.motor-point-' + id + ')').css('opacity', 0.35)
    $('.motor-point-' + id).css('font-weight', 'bold')
    $('.motor-curve:not(.motor-curve-' + id + ')').css('opacity', 0.35)
    $('.motor-curve-' + id).css('font-weight', 'bold')
  }
}

function leaveMotor(e) {
  $('.motor-point').css('opacity', 1).css('font-weight', 'normal');
  $('.motor-curve').css('opacity', 1).css('font-weight', 'normal');
}

function clickMotor(e) {
  let svg = $(this),
      id, info;

  id = svg.attr('id').replace(/[^-]*-/g, '');
  if (id && (info = Motors[id]))
    window.location = info.detailLink;
}

inlineSVG('#impulseBurnTime, #impulseAvgThrust, #thrustCurve', function(svg) {
  svg.find('g.motor-point, g.motor-curve')
     .removeAttr('title')
     .css('cursor', 'pointer')
     .popover({
       container: 'body',
       trigger: 'hover',
       html: true,
       delay: 50,
       title: popoverTitle,
       content: popoverContent,
     })
     .on('show.bs.popover', hoverMotor)
     .on('hide.bs.popover', leaveMotor)
     .click(clickMotor);
});

setupTable('#motor-list', {
  order: [[3, 'asc']]
});
$('#select-all').click(function(e) {
  let all = $(this);
  let state = all.is(':checked');
  $('#motor-list td input[name=select]').each(function() {
    $(this).prop('checked', state);
  });
});
$('#motor-list td input[name=select]').click(function(e) {
  if (!$(this).is(':checked'))
    $('#select-all').prop('checked', false);
});
$('#compare').click(function(e) {
  e.preventDefault();
  let motors = '', count = 0;
  $('#motor-list td input[name=select]').each(function() {
    let checkbox = $(this);
    if (checkbox.is(':checked')) {
      if (motors !== '')
        motors += '&';
      motors += 'motors=' + checkbox.val();
      count++;
    }
  });
  if (count < 2)
    window.alert('Choose two or more motors from the list above.');
  else
    window.location = '/motors/compare.html?' + motors;
});
</script>
{{/if}}
