{{#extend "sidebar-extra"}}
  <h2>Similar Motors</h2>
  <ul class="links">
    <li><a href="/motors/search.html?manufacturer={{encode manufacturer.abbrev}}">From <b>{{manufacturer.abbrev}}</b></a></li>
    <li><a href="/motors/search.html?impulseClass={{encode motor.impulseClass}}"><b>{{motor.impulseClass}}</b> Impulse Class</a></li>
    <li><a href="/motors/search.html?diameter={{encode motor.diameter}}"><b>{{formatMMT motor.diameter}}</b> Diameter</a></li>
    {{#if isReloadCase}}
    <li><a href="/motors/search.html?caseInfo={{encode motor.caseInfo}}"><b>{{motor.caseInfo}}</b> Case</a></li>
    {{/if}}
    {{#if motor.propellantInfo}}
    <li><a href="/motors/search.html?propellantInfo={{encode motor.propellantInfo}}"><b>{{motor.propellantInfo}}</b></a></li>
    {{/if}}
  </ul>
{{/extend}}

<h1>{{title}} {{#if favorite}}<span class="label label-as-badge label-success">favorite</span>{{/if}}</h1>

<div class="row">
  <!-- left col -->
  <div class="col-md-8">
    <div role="form" class="form-horizontal form-condensed">
      <div class="form-group">
        <label class="col-sm-6 control-label">Manufacturer</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{manufacturerLink manufacturer}}">{{manufacturer.name}}</a></p>
        </div>
      </div>

      {{#if motor._relatedMfr}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Related Mfr.</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{manufacturerLink motor._relatedMfr}}">{{motor._relatedMfr.name}}</a></p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Designation</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motorDesignation motor}}</p>
        </div>
      </div>

      {{#if motor.altDesignation}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Alt. Designation</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.altDesignation}}</p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Common Name</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motorCommonName motor}}</p>
        </div>
      </div>

      {{#if motor.altName}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Alt. Name</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.altName}}</p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Motor Type</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.type}}</p>
        </div>
      </div>

      {{#if motor.delays}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Delays</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.delays}}</p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Diameter</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMMT motor.diameter}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Length</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatLength motor.length}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Total Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass motor.totalWeight}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Prop. Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass motor.propellantWeight}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Avg. Thrust</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatForce motor.avgThrust}}</p>
        </div>
      </div>

      {{#if initialThrust}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Initial Thrust</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatForce initialThrust}}</p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Max. Thrust</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatForce motor.maxThrust}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Total Impulse</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatImpulse motor.totalImpulse}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6 control-label">Burn Time</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDuration motor.burnTime}}</p>
        </div>
      </div>

      {{#if motor.isp}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Isp</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatIsp motor.isp}}</p>
        </div>
      </div>
      {{/if}}

      {{#if motor.caseInfo}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Motor Case</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.caseInfo}}</p>
        </div>
      </div>
      {{/if}}

      {{#if motor.propellantInfo}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Propellant</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.propellantInfo}}
          {{#if motor.sparky}}
          <span class="label label-as-badge label-warning">sparky</span>
          {{/if}}
          </p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Cert. Org.</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor._certOrg.abbrev}}</p>
        </div>
      </div>

      {{#if motor.certDate}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Cert. Date</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatDate motor.certDate}}</p>
        </div>
      </div>
      {{/if}}

      {{#if motor.certDesignation}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Cert. Designation</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{motor.certDesignation}}</p>
        </div>
      </div>
      {{/if}}

      {{#if motor.dataSheet}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Data Sheet</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{motor.dataSheet}}" target="_blank">{{websiteAnchor motor.dataSheet}}</a></p>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-6 control-label">Availability</label>
        <div class="col-sm-6">
          <p class="form-control-static">
          {{#if motor.isAvailable}}<span class="label label-as-badge label-success">{{motor.availability}}</span>{{/if}}
          {{#unless motor.isAvailable}}<span class="label label-as-badge label-default">{{motor.availability}}</span>{{/unless}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">HazMat Shipping</label>
        <div class="col-sm-6">
          <p class="form-control-static">
          {{#if motor.hazmatExempt}}
            <span class="label label-as-badge label-success">exempt</span>
          {{else}}
            <span class="label label-as-badge label-warning">HazMat</span>
          {{/if}}
          </p>
        </div>
      </div>

      {{#if username}}
      <div class="form-group">
        <label class="col-sm-6 control-label">Favorite</label>
        <div class="col-sm-6">
          <p class="form-control-static">
          {{#if favorite}}
            Liked on {{formatDate favorite.updatedAt 'short'}}
            <a class="favorite" href="{{removeFavoriteLink}}" title="remove favorite"><i class="fa fa-thumbs-o-down"></i></a>
          {{/if}}
          {{#unless favorite}}
            <a class="favorite" href="{{addFavoriteLink}}" title="add favorite"><i class="fa fa-thumbs-o-up"></i></a>
          {{/unless}}
          </p>
        </div>
      </div>
      {{/if}}
    </div>
  </div> <!-- left col -->

  <!-- right col -->
  <div class="col-md-4">
    {{#if isCompare}}
    <p><a href="/info/motorstats.html#motor-comparison">Compared</a>
    with all {{classCount}} <b>{{motor.impulseClass}}</b> motors:</p>

    {{#if motor.totalImpulse}}
    <img class="compare" src="{{motorLink manufacturer motor}}compare.svg?stat=totalImpulse"/>
    <p class="compare-legend">Total Impulse</p>
    {{/if}}

    {{#if motor.avgThrust}}
    <img class="compare" src="{{motorLink manufacturer motor}}compare.svg?stat=avgThrust"/>
    <p class="compare-legend">Average Thrust</p>
    {{/if}}

    {{#if motor.maxThrust}}
    <img class="compare" src="{{motorLink manufacturer motor}}compare.svg?stat=maxThrust"/>
    <p class="compare-legend">Maximum Thrust</p>
    {{/if}}

    {{#if motor.burnTime}}
    <img class="compare" src="{{motorLink manufacturer motor}}compare.svg?stat=burnTime"/>
    <p class="compare-legend">Burn Time</p>
    {{/if}}

    {{/if}}
  </div> <!-- right col -->

</div> <!-- row -->

<p>
<a href="mailto:john@jcsw.com?subject=ThrustCurve.org: {{manufacturer.abbrev}} {{motorDesignation motor}}&body=(please indicate which info is incorrect)">Report incorrect info.</a>
{{#hasPerm 'motors'}}
<a href="{{editLink}}">Edit this motor.</a>
{{/hasPerm}}
</p>

{{#if thrustCurveLink}}
<div id="thrustcurve">
<p class="img"><img src="{{thrustCurveLink}}" alt="{{title}}"/></p>
</div>
<script type="text/javascript">
thrustCurve($('#thrustcurve'));
</script>
{{/if}}

<a name="simfiles"></a>
<h2>Simulator Files</h2>

{{#if simfiles}}
<table id="simfile-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Format</th>
     <th>Source</th>
     <th>Updated</th>
     <th>Contributor</th>
    </tr>
  </thead>
  <tbody>
  {{#each simfiles}}
    <tr data-id="{{_id}}">
      <td><a href="{{simfileLink this}}">{{format}}</a></td>
      <td>{{dataSource}}</td>
      <td>{{formatDate updatedAt}}</td>
      <td><a href="{{contributorLink _contributor}}">{{_contributor.name}}</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{/if}}

<p>
{{#unless simfiles}}
Sadly, no files exist for this motor.
{{/unless}}
Do you have a data file?
Please <a href="/simfiles/{{motor._id}}/create.html">contribute it</a>.
See <a href="/info/contribute.html">how to contribute</a> for more info.
</p>

<a name="notes"></a>
<h2>Motor Notes</h2>

{{#if notes}}
<table id="note-list" class="table table-bordered notes">
  {{#each notes}}
    <tr data-id="{{_id}}">
      <th class="subject">{{subject}}</a></td>
      <th><a href="{{contributorLink _contributor}}">{{_contributor.name}}</a></td>
      <th>{{formatDate updatedAt}}</td>
      <th class="action">{{#if editNoteLink}}<a href={{editNoteLink}}><i class="fa fa-edit"></i></a></th>{{else}}&nbsp;{{/if}}</th>
    </tr>
    <tr class="content">
      <td colspan="4">{{renderBBCode content}}</td>
    </tr>
  {{/each}}
</table>
{{/if}}

{{#if addNoteLink}}
<p>
Do you have other info on this motor?
Please <a href="{{addNoteLink}}">add a note</a>.
</p>
{{/if}}

