<h1>{{title}}</h1>

{{#if isSaved}}
<div class="alert alert-success" role="alert">
Changes to motor saved;
<a href="{{motorLink manufacturer motor}}">view entry</a>.
</div>
{{/if}}
{{#if isCreated}}
<div class="alert alert-success" role="alert">
New motor created;
<a href="{{motorLink manufacturer motor}}">view entry</a>.
</div>
{{/if}}
{{#if isUnchanged}}
<div class="alert alert-success" role="alert">
No changes to save;
<a href="{{motorLink manufacturer motor}}">view entry</a>.
</div>
{{/if}}

<form role="form" class="form-horizontal" name="edit-motor" action="{{submitLink}}" method="post" data-toggle="validator">
  {{#unless isNew}}
  <div class="form-group">
    <label for="_id" class="col-sm-3 control-label">ID</label>
    <div class="col-sm-9">
      <p class="id form-control-static">{{motor._id}} {{#if motor.migratedId}}(migrated {{motor.migratedId}}){{/if}}</p>
      <input type="hidden" name="_id" value="{{motor._id}}">
    </div>
  </div>
  {{/unless}}
  <div class="form-group">
    <label for="_manufacturer" class="col-sm-3 control-label">Manufacturer</label>
    <div class="col-sm-9">
      <select class="form-control" name="_manufacturer" required>
      <option></option>
      {{#each manufacturers}}
        <option value="{{_id}}" {{#sameId ../motor._manufacturer _id}}selected{{/sameId}}>{{name}}</option>
      {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="_relatedMfr" class="col-sm-3 control-label">Related Mfr.</label>
    <div class="col-sm-9">
      <select class="form-control" name="_relatedMfr">
      <option></option>
      {{#each manufacturers}}
        <option value="{{_id}}" {{#sameId ../motor._relatedMfr _id}}selected{{/sameId}}>{{name}}</option>
      {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="designation" class="col-sm-3 control-label">Designation</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="designation"
             pattern="^[A-Za-z0-9_./-]+$" required data-error="letters and digits, plus /._-"
             placeholder="G80T" value="{{{motor.designation}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="altDesignation" class="col-sm-3 control-label">Alt. Designation</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="altDesignation"
             pattern="^[A-Za-z0-9_./-]+$" data-error="letters and digits, plus /._- (optional)"
             value="{{{motor.altDesignation}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="commonName" class="col-sm-3 control-label">Common Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="commonName"
             pattern="^1/[248]A(0\.)?[1-9]|[A-O][1-9][0-9]*$" required data-error="impulse class plus avg. thrust"
             placeholder="G10" value="{{{motor.commonName}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="altName" class="col-sm-3 control-label">Alt. Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="altName"
             pattern="^1\/[248]A(0\.)?[1-9]|[A-O][1-9][0-9]*$" data-error="impulse class plus avg. thrust (optional)"
             value="{{{motor.altName}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="type" class="col-sm-3 control-label">Motor Type</label>
    <div class="col-sm-9">
      <select class="form-control" name="type" required>
        <option></option>
        {{#each schema.MotorTypeEnum}}
        <option {{#equal ../motor.type this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="delays" class="col-sm-3 control-label">Delays</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="delays"
             pattern="^[0-9P,-]*$" data-error="seconds, separated by dash or comma (optional)"
             placeholder="4,7,10" value="{{{motor.delays}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="_certOrg" class="col-sm-3 control-label">Certified By</label>
    <div class="col-sm-9">
      <select class="form-control" name="_certOrg" required>
      <option></option>
      {{#each certOrgs}}
        <option value="{{_id}}" {{#sameId ../motor._certOrg _id}}selected{{/sameId}}>{{name}}</option>
      {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="certDate" class="col-sm-3 control-label">Cert. Date</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" name="certDate"
             value="{{{formatDate motor.certDate 'iso'}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="certDesignation" class="col-sm-3 control-label">Cert. Designation</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="certDesignation"
             value="{{{motor.certDesignation}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="diameter" class="col-sm-3 control-label">Diameter</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="diameter"
               step="0.1" min="6" required
               value="{{{motor.diameter}}}">
        <span class="input-group-addon">mm</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="length" class="col-sm-3 control-label">Length</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="length"
               step="0.1" min="10" required
               value="{{{motor.length}}}">
        <span class="input-group-addon">mm</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="avgThrust" class="col-sm-3 control-label">Avg. Thrust</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="avgThrust"
               step="0.001" min="0.01" required
               value="{{{motor.avgThrust}}}">
        <span class="input-group-addon">N</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="maxThrust" class="col-sm-3 control-label">Max. Thrust</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="maxThrust"
               step="0.001" min="0.1"
               value="{{{motor.maxThrust}}}">
        <span class="input-group-addon">N</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="totalImpulse" class="col-sm-3 control-label">Total Impulse</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="totalImpulse"
               step="0.001" min="0.1" required
               value="{{{motor.totalImpulse}}}">
        <span class="input-group-addon">Ns</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="burnTime" class="col-sm-3 control-label">Burn Time</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="burnTime"
               step="0.001" min="0.1" required
               value="{{{motor.burnTime}}}">
        <span class="input-group-addon">s</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="totalWeight" class="col-sm-3 control-label">Total Weight</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="totalWeight"
               step="0.01" min="0.1"
               value="{{{motor.totalWeight}}}">
        <span class="input-group-addon">g</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="propellantWeight" class="col-sm-3 control-label">Propellant Weight</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="propellantWeight"
               step="0.01" min="0.1"
               value="{{{motor.propellantWeight}}}">
        <span class="input-group-addon">g</span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="caseInfo" class="col-sm-3 control-label">Case Info</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="caseInfo"
             value="{{{motor.caseInfo}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="propellantInfo" class="col-sm-3 control-label">Propellant Info</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="propellantInfo"
             value="{{{motor.propellantInfo}}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="sparky" class="col-sm-3 control-label">Sparky</label>
    <div class="col-sm-9">
      <input type="hidden" name="sparky-present" value="true" />
      <input type="checkbox" class="form-check-input position-static" name="sparky"
             {{#if motor.sparky}}checked="checked"{{/if}}>
      <span class="help-block with-errors"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="availability" class="col-sm-3 control-label">Availability</label>
    <div class="col-sm-9">
      <select class="form-control" name="availability" required>
        <option></option>
        {{#each schema.MotorAvailabilityEnum}}
        <option {{#equal ../motor.availability this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="hazmatExempt" class="col-sm-3 control-label">HazMat Exempt</label>
    <div class="col-sm-9">
      <input type="hidden" name="hazmatExempt-present" value="true" />
      <input type="checkbox" class="form-check-input position-static" name="hazmatExempt"
             {{#if motor.hazmatExempt}}checked="checked"{{/if}}>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group website">
    <label for="dataSheet" class="col-sm-3 control-label">Data Sheet</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="url" class="form-control" name="dataSheet"
               placeholder="http://..." value="{{motor.dataSheet}}">
        <span class="input-group-addon"><a href="#" class="test"><i class="fa fa-external-link"></i></a></span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>

<script type="text/javascript">
$('form input[name=commonName], form input[name=altName]').blur(function(e) {
  this.value = $.trim(this.value).toUpperCase();
});
$('form input[name=designation], form input[name=altDesignation]').blur(function(e) {
  this.value = $.trim(this.value).toUpperCase().replace(/\s+/g, '_');
});
$('.website .test').click(function(e) {
  var site, a;

  e.preventDefault();

  site = $.trim($(this).closest('div.input-group').find('input').val());
  if (site)
    window.open(site, "_blank");
});
</script>
