<h1>{{title}}</h1>

<p>
What motors are hot?
These top lists show you what other rocketeers are viewing over the last couple of months,
especially during the last few weeks.
First off, here are the top motors across the board and below that check out the top motors in each impulse group.
</p>

<table id="overall-list" class="table table-bordered">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Motor</th>
      <th class="hidden-xs">Type</th>
      <th class="number hidden-xs">Diam</th>
      <th class="number">Views</th>
      <th>Trend</th>
    </tr>
  </thead>
  <tbody>
  {{#each overall.motors}}
    <tr>
      <td>{{rank}}</td>
      <td><a href="{{motorLink motor._manufacturer motor}}">{{motorFullName motor}}</td>
      <td class="hidden-xs">{{motor.type}}</td>
      <td class="number hidden-xs" data-sort="{{formatSort diameter}}">{{formatMMT motor.diameter}}</td>
      <td class="number">{{views}}</td>
      <td data-sort="{{formatSort trendSigma}}">{{formatTrend trendSigma}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#overall-list', {
  order: [[0,'asc']]
});
</script>

{{#each categories}}
<h2>Top {{capitalize label}} ({{classes}})</h2>
<table id="{{label}}-list" class="table table-bordered">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Motor</th>
      <th class="hidden-xs">Type</th>
      <th class="number hidden-xs">Diam</th>
      <th class="number">Views</th>
      <th>Trend</th>
    </tr>
  </thead>
  <tbody>
  {{#each motors}}
    <tr>
      <td>{{rank}}</td>
      <td><a href="{{motorLink motor._manufacturer motor}}">{{motorFullName motor}}</td>
      <td class="hidden-xs">{{motor.type}}</td>
      <td class="number hidden-xs" data-sort="{{formatSort diameter}}">{{formatMMT motor.diameter}}</td>
      <td class="number">{{views}}</td>
      <td data-sort="{{formatSort trendSigma}}">{{formatTrend trendSigma}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#{{label}}-list', {
  order: [[0,'asc']]
});
</script>
{{/each}}
