<h1>{{title}}</h1>

{{#if isNoneFound}}
<div class="alert alert-warning" role="alert">
No motors matched the search criteria.
</div>
{{#if multiParams}}
<p>
Simplify or adjust the search and try again
(you searched for: {{paramNames}}).
</p>
{{/if}}
{{/if}}

{{#if isFresh}}
<p>
Search the database of motor data here.
You can use the quick search in the title bar to search by motor name or use the
advanced search below to search by various attributes.
</p>
{{/if}}

{{#unless results}}
<form role="form" class="form-horizontal" name="edit" action="{{submitLink}}" method="get" data-toggle="validator">
  <div class="form-group manufacturer">
    <label for="manufacturer" class="col-sm-3 control-label">Manufacturer</label>
    <div class="col-sm-9">
      <select class="form-control" name="manufacturer">
        <option value="">(all)</option>
        {{#each allMotors.manufacturers}}
        <option {{#equal ../params.manufacturer abbrev}}selected{{/equal}} value="{{abbrev}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group designation">
    <label for="designation" class="col-sm-3 control-label">Mfr Designation</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="designation"
             placeholder="110-G250-14A" value="{{params.designation}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group commonName">
    <label for="commonName" class="col-sm-3 control-label">Common Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="commonName"
             pattern="^(1/[248])?[A-Oa-o][0-9.]+$" data-error="letter and average thrust"
             placeholder="G250" value="{{params.commonName}}">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group type">
    <label for="type" class="col-sm-3 control-label">Motor Type</label>
    <div class="col-sm-9">
      <select class="form-control" name="type">
        <option value="">(all)</option>
        <option value="SU" {{#equal params.type 'SU'}}selected{{/equal}}>single-use</option>
        <option value="reload" {{#equal params.type 'reload'}}selected{{/equal}}>reload</option>
        <option value="hybrid" {{#equal params.type 'hybrid'}}selected{{/equal}}>hybrid</option>
      </select>
    </div>
  </div>
  <div class="form-group impulseClass">
    <label for="impulseClass" class="col-sm-3 control-label">Impulse Class</label>
    <div class="col-sm-9">
      <select class="form-control" name="impulseClass">
        <option value="">(all)</option>
        {{#each allMotors.impulseClasses}}
        <option {{#equal ../params.impulseClass this}}selected{{/equal}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group diameter">
    <label for="diameter" class="col-sm-3 control-label">Diameter</label>
    <div class="col-sm-9">
      <select class="form-control" name="diameter">
        <option value="">(all)</option>
        {{#each allMotors.diameters}}
        <option value="{{this}}" {{#equal ../params.diameter this}}selected{{/equal}}>{{formatMMT this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group propellantInfo">
    <label for="propellantInfo" class="col-sm-3 control-label">Propellant</label>
    <div class="col-sm-9" style="margin-bottom: 2pt;">
      <select class="form-control" name="propellantInfo">
        <option value="">(all)</option>
        {{#each allMotors.propellants}}
        <option data-manufacturers="{{manufacturers}}" {{#equal ../params.propellantInfo name}}selected{{/equal}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <label for="flameColor" class="col-sm-1 col-sm-offset-4 control-label">Flame</label>
    <div class="col-sm-3">
      <select class="form-control" name="flameColor">
        <option value="">(all)</option>
        {{#each flameColors}}
        <option data-manufacturers="{{manufacturers}}" {{#equal ../params.flameColor name}}selected{{/equal}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <label for="smokeColor" class="col-sm-1 control-label">Smoke</label>
    <div class="col-sm-3">
      <select class="form-control" name="smokeColor">
        <option value="">(all)</option>
        {{#each smokeColors}}
        <option data-manufacturers="{{manufacturers}}" {{#equal ../params.smokeColor name}}selected{{/equal}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group caseInfo">
    <label for="caseInfo" class="col-sm-3 control-label">Motor Case</label>
    <div class="col-sm-9">
      <select class="form-control" name="caseInfo">
        <option value="">(all)</option>
        {{#each allMotors.cases}}
        <option data-diameter="{{diameter}}" data-manufacturers="{{manufacturers}}" {{#equal ../params.caseInfo name}}selected{{/equal}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group sparky">
    <label for="sparky" class="col-sm-3 control-label">Sparky</label>
    <div class="col-sm-9">
    <p>
      <label class="radio-inline">
        <input type="radio" name="sparky" value="regular" {{#equal params.sparky 'regular'}}checked{{/equal}}> regular
      </label>
      <label class="radio-inline">
        <input type="radio" name="sparky" value="sparky" {{#equal params.sparky 'sparky'}}checked{{/equal}}>
        <span title="motor ejects burning sparks">sparky</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="sparky" value="all" {{#equal params.sparky 'all'}}checked{{/equal}}> both
      </label>
    </div>
  </div>
  <div class="form-group class1">
    <label for="class1" class="col-sm-3 control-label">Class 1 Motor</label>
    <div class="col-sm-9">
    <p>
      <label class="radio-inline">
        <input type="radio" name="class1" value="class1" {{#equal params.class1 'class1'}}checked{{/equal}}>
        <span title="">under 125g</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="class1" value="regular" {{#equal params.class1 'regular'}}checked{{/equal}}>
        <span title="motor ejects burning sparks">larger motors</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="class1" value="all" {{#equal params.class1 'all'}}checked{{/equal}}> both
      </label>
    </div>
  </div>
  <div class="form-group hazmatExempt">
    <label for="hazmatExempt" class="col-sm-3 control-label">HazMat Shipping</label>
    <div class="col-sm-9">
    <p>
      <label class="radio-inline">
        <input type="radio" name="hazmatExempt" value="regular" {{#equal params.hazmatExempt 'regular'}}checked{{/equal}}>
        <span title="must be shipped as hazardous material">HazMat</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="hazmatExempt" value="exempt" {{#equal params.hazmatExempt 'exempt'}}checked{{/equal}}>
        <span title="may be shipped without restriction">exempt</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="hazmatExempt" value="all" {{#equal params.hazmatExempt 'all'}}checked{{/equal}}> both
      </label>
    </div>
  </div>
  <div class="form-group availability">
    <label for="availability" class="col-sm-3 control-label">Availability</label>
    <div class="col-sm-9">
    <p>
      <label class="radio-inline">
        <input type="radio" name="availability" value="available" {{#equal params.availability 'available'}}checked{{/equal}}>
        <span title="in production">available</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="availability" value="OOP" {{#equal params.availability 'OOP'}}checked{{/equal}}>
        <span title="out of production">OOP</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="availability" value="all" {{#equal params.availability 'all'}}checked{{/equal}}> both
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
      {{#if isNoneFound}}<a class="btn btn-default" href="/motors/search.html?restart">Start Over</a>{{/if}}
    </div>
  </div>
</form>
<script type="text/javascript">
$('form input[type=text]').blur(function(e) {
  this.value = $.trim(this.value).toUpperCase();
});
function updateSelects() {
  let onlyMfr = $('select[name=manufacturer]').val(),
      onlyDia = $('select[name=diameter]').val();
  if (onlyDia !== '')
    onlyDia = parseFloat(onlyDia);

  // filter only by manufacturer
  function filterMfr(select) {
    select.find('option').removeAttr('hidden');
    if (onlyMfr) {
      select.find('option').each(function() {
        let opt = $(this);
        let mfrs = opt.attr('data-manufacturers');
        if (mfrs && mfrs.indexOf(onlyMfr) < 0)
          opt.attr('hidden', 'hidden');
      });
    }
  }
  filterMfr($('form select[name=propellantInfo]'));
  filterMfr($('form select[name=flameColor]'));
  filterMfr($('form select[name=smokeColor]'));

  // filter by manufacturer and diameter
  let caseSelect = $('form select[name=caseInfo]');
  caseSelect.find('option').removeAttr('hidden');
  if (onlyMfr || onlyDia) {
    caseSelect.find('option').each(function() {
      let opt = $(this);
      let visible = true;

      let mfrs = opt.attr('data-manufacturers');
      if (onlyMfr && mfrs && mfrs.indexOf(onlyMfr) < 0)
        visible = false;

      let dia = opt.attr('data-diameter');
      if (onlyDia && dia && (dia = parseFloat(dia)) > 0 && Math.abs(dia - onlyDia) > 0.0011)
        visible = false;

      if (!visible)
        opt.attr('hidden', 'hidden');
    });
  }
}
$('form select[name=manufacturer], form select[name=diameter]').change(updateSelects);
$(document).ready(function(e) {
  setTimeout(updateSelects, 1);
});
</script>
{{/unless}}

{{#if results}}
<!--
query parameters:
{{#each params}}
  {{@key}}={{this}}
{{/each}}
results: {{length results}}
-->

<table id="result-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Designation</th>
     <th>Manufacturer</th>
     <th>Type</th>
     <th class="number">Diam</th>
     <th class="number">Impulse</th>
     <th class="number hidden-xs">Avg Thr</th>
     <th class="number hidden-xs">Burn</th>
     <th class="action hidden-xs"><input type="checkbox" id="select-all" title="select/deselect all"/></th>
    </tr>
  </thead>
  <tbody>
  {{#each results}}
  <tr class="{{#unless isAvailable}}unavailable{{/unless}}" data-id="{{_id}}">
    <td><a href="{{motorLink _manufacturer this}}">{{motorDesignation this}}</td>
    <td>{{_manufacturer.abbrev}}</td>
    <td>{{formatType type}}</td>
    <td class="number" data-sort="{{formatSort diameter}}">{{formatMMT diameter}}</td>
    <td class="number" data-sort="{{formatSort totalImpulse}}">{{formatImpulse totalImpulse}}</td>
    <td class="number hidden-xs" data-sort="{{formatSort avgThrust}}">{{formatForce avgThrust}}</td>
    <td class="number hidden-xs" data-sort="{{formatSort burnTime}}">{{formatDuration burnTime}}</td>
    <td class="action hidden-xs"><input type="checkbox" name="select" value="{{_id}}" title="select this motor"/></th>
  </tr>
  {{/each}}
  </tbody>
</table>
<p class="hidden-xs">Choose two or more motors from the list to <a id="compare" href="#">Compare</a>.</p>
<script type="text/javascript">
setupTable('#result-list', {
  order: [[4, 'asc']],
  expand: true
});
$('#select-all').click(function(e) {
  let all = $(this);
  let state = all.is(':checked');
  $('#result-list td input[name=select]').each(function() {
    $(this).prop('checked', state);
  });
});
$('#result-list td input[name=select]').click(function(e) {
  if (!$(this).is(':checked'))
    $('#select-all').prop('checked', false);
});
$('#compare').click(function(e) {
  e.preventDefault();
  let motors = '', count = 0;
  $('#result-list td input[name=select]').each(function() {
    let checkbox = $(this);
    if (checkbox.is(':checked')) {
      if (motors !== '')
        motors += '&';
      motors += 'motors=' + checkbox.val();
      count++;
    }
  });
  if (count < 2)
    window.alert('Choose two or more motors from the list above.');
  else
    window.location = '/motors/compare.html?' + motors;
});
</script>
{{/if}}

{{#if isFresh}}
<a name="linking"></a>
<h2>Search from Your Site</h2>
<p>
Want to put our search engine on your site?
Copy the HTML code below and paste it into your web page wherever you want.
Note that the result behaves like the title bar search,
plus a logo that links to this page.
</p>

<div id="linksearch-live" style="padding-left: 4em; padding-bottom: 1em;">
<form method="get" action="https://www.thrustcurve.org/motors/search.html">
  <label for="text">
    <a href="https://www.thrustcurve.org/motors/search.html" style="font-family: Helvetica, Arial, sans-serif; font-size: larger; font-weight: normal; color: #9e1a20; text-decoration: none;"><b>thrust</b>curve.org</a>
  </label>
  <input type="text" name="text" placeholder="motor">
  <input type="submit" value="Search">
</form>
</div>

<pre id="linksearch-code"></pre>
<script type="text/javascript">
$('#linksearch-code').text('<!-- begin ThrustCurve.org search -->\n' +
                           $.trim($('#linksearch-live').html()) +
                           '\n<!-- end ThrustCurve.org search -->');
</script>

<p>
This assumes your site doesn't have global styles for forms.
If the result looks bad, you may have to apply some of your site's styles to improve the appearance.
See the example above for how it should look.
</p>
<p>
Of course, you're also free to incorporate searching on ThrustCurve.org into your site in other ways.
Please just make sure the logo appears in your form and links to this page.
</p>
{{/if}}
