<h1>{{title}}</h1>

{{#if isDeleted}}
<div class="alert alert-success" role="alert">
Rocket deleted.
</div>
{{/if}}

{{#unless rockets}}
<p>
You don't have any rockets defined.
If you add rockets, you can easily find motors for them using the Motor Guide.
<a href="/mystuff/rocket/new/edit.html">Add your first rocket</a>.
</p>
{{/unless}}
{{#if rockets}}
<table id="rocket-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Name</th>
     <th class="number">Body Diam</th>
     <th class="number">Weight</th>
     <th class="number">MMT Diam</th>
     <th class="number">MMT Len</th>
    </tr>
  </thead>
  <tbody>
  {{#each rockets}}
    <tr data-id="{{_id}}">
      <td><a href="/mystuff/rocket/{{id}}/">{{name}}</a></td>
      <td class="number" data-sort="{{formatSort bodyDiameter 'length' bodyDiameterUnit}}">{{formatLength bodyDiameter bodyDiameterUnit}}</td>
      <td class="number" data-sort="{{formatSort weight 'mass' weightUnit}}">{{formatMass weight weightUnit}}</td>
      <td class="number" data-sort="{{formatSort mmtDiameter 'length' mmtDiameterUnit}}">{{formatLength mmtDiameter mmtDiameterUnit}}</td>
      <td class="number" data-sort="{{formatSort mmtLength 'length' mmtLengthUnit}}">{{formatLength mmtLength mmtLengthUnit}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<script type="text/javascript">
setupTable('#rocket-list', {
  order: [[0, 'asc']],
  expand: true
});
</script>

<p>
<a href="/mystuff/rocket/new/edit.html">Add another rocket</a>.
</p>
{{/if}}

<h2>Others' Rockets</h2>
<p>You can also search the public rockets for one to use as a starting point for your own.</p>
<form role="form" class="form-horizontal" name="other-rockets" action="{{searchLink}}" method="get">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Rocket Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name">
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="bodyDiameter" class="col-sm-3 control-label" title="diameter of main/largest body tube">Body Diameter</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="bodyDiameter"
             step="0.001" min="0.001">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="bodyDiameterUnit">
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../bodyDiameterUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="mmtDiameter" class="col-sm-3 control-label" title="diameter of motor mount tube">MMT Diameter</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="mmtDiameter"
             step="0.001" min="0.001">
      <span class="help-block with-errors"></span>
    </div>
    <div class="col-sm-3">
      <select class="form-control" name="mmtDiameterUnit">
        {{#each lengthUnits}}
	<option value="{{label}}" {{#equal label ../mmtDiameterUnit}}selected{{/equal}}>{{description}}</option>
	{{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Search</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
