<h1>{{title}}</h1>

{{#if isSaved}}
<div class="alert alert-success" role="alert">
Changes to rocket saved.
</div>
{{/if}}
{{#if isCreated}}
<div class="alert alert-success" role="alert">
New rocket created.
</div>
{{/if}}
{{#if isUnchanged}}
<div class="alert alert-success" role="alert">
No changes to save.
</div>
{{/if}}

{{#if public}}
<p>
This rocket was entered by
<a href="{{contributorLink rocket._contributor}}">{{rocket._contributor.name}}</a>.
</p>
{{/if}}

<form role="form" class="form-horizontal form-condensed">
  <div class="row">
    <div class="col-sm-6">
      <p class="column-title">Overall</p>
      <div class="form-group">
        <label for="diameter" class="col-sm-6 control-label">Body Diameter</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatLength rocket.bodyDiameter rocket.bodyDiameterUnit}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="weight" class="col-sm-6 control-label">Dry Weight</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatMass rocket.weight rocket.weightUnit}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="cd" class="col-sm-6 control-label">C<sub>D</sub></label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatCD rocket.cd}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="cd" class="col-sm-6 control-label">Guide Length</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatLength rocket.guideLength rocket.guideLengthUnit}}</p>
        </div>
      </div>
      {{#if rocket.website}}
      <div class="form-group">
        <label for="cd" class="col-sm-6 control-label">Web Page</label>
        <div class="col-sm-6">
          <p class="form-control-static"><a href="{{rocket.website}}">{{websiteAnchor rocket.website}}</a></p>
        </div>
      </div>
      {{/if}}
    </div> <!-- left col -->

    <div class="col-sm-6">
      <p class="column-title">Motor Mount</p>
      <div class="form-group">
        <label for="mmtDiameter" class="col-sm-6 control-label">MMT Diameter</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatLength rocket.mmtDiameter rocket.mmtDiameterUnit}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="mmtLength" class="col-sm-6 control-label">MMT Length</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{formatLength rocket.mmtLength rocket.mmtLengthUnit}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="mmtCount" class="col-sm-6 control-label">MMT Count</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{rocket.mmtCount}}</p>
        </div>
      </div>
      {{#if rocket.adapters}}
      <div class="form-group">
        <label for="mmtCount" class="col-sm-6 control-label">Adapters</label>
        <div class="col-sm-6">
          <p class="form-control-static">
          {{#each rocket.adapters}}
          {{formatLength mmtDiameter mmtDiameterUnit}}
          {{/each}}
          </p>
        </div>
      </div>
      {{/if}}
    </div> <!-- left col -->
  </div> <!-- row -->
</form>
{{#if rocket.comments}}
<table class="table table-bordered comments">
   <tr><th>Comments</th></tr>
   <tr><td>{{renderBBCode rocket.comments}}</td></tr>
</table>
{{/if}}

{{#if editLink}}
<p>
<a href="{{editLink}}">Edit this rocket</a> or
<a onclick="return confirm('Delete rocket (cannot be undone)?')" href="{{deleteLink}}">delete it entirely</a>.
</p>
{{/if}}

<h2>Possible Motors</h2>

{{#unless motorCount}}
<p>
No motors fit this rocket's motor mount tube.
Please check that the MMT diameter is a standard size and the length is correct (not too short).
</p>
{{/unless}}
{{#if motorCount}}
<p>
{{motorCount}} {{classRange}} motors
by
{{#if singleManufacturer}}{{singleManufacturer.abbrev}}{{/if}}
{{#unless singleManufacturer}}{{manufacturerCount}} manufacturers{{/unless}}
fit the rocket's motor mount tube{{#if rocket.adapters}} or adapters{{/if}}.
If this doesn't seem right, check that the MMT diameter and length above are correct.
{{#unless rocket.adapters}}
You can <a href="/motors/search.html?diameter={{mmtDiameter}}&length={{mmtLength}}">search for these motors</a>
or <a href="/motors/browser.html?diameter={{mmtDiameter}}&length={{mmtLength}}">browse them</a>.
{{/unless}}
</p>
<p>
Find motors that will work using the motor guide:
</p>
<form name="guide" action="{{guideLink}}" method="post">
  <input type="hidden" name="rocket" value="{{rocket._id}}">
  <div class="row">
    {{#unless singleClass}}
    <div class="col-md-3">
      <label for="classes" class="column-title">Classes</label>
      <ul class="checkboxes">
        {{#each classes}}
        <li><input type="checkbox" name="classes" value="{{this}}" checked> {{this}}</li>
        {{/each}}
      </ul>
    </div> <!-- classes -->
    {{/unless}}

    {{#unless singleType}}
    <div class="col-md-3">
      <label for="types" class="column-title">Types</label>
      <ul class="checkboxes">
        {{#each types}}
        <li><input type="checkbox" name="types" value="{{this}}" checked> {{formatType this}}</li>
        {{/each}}
      </ul>
    </div> <!-- types -->
    {{/unless}}

    {{#if rocket.adapters}}
    <div class="col-md-3">
      <label for="adapters" class="column-title">Adapters</label>
      <ul class="checkboxes">
        <li><input type="checkbox" name="adapters" value="-" checked> None</li>
        {{#each rocket.adapters}}
        <li><input type="checkbox" name="adapters" value="{{@index}}" checked> {{formatLength mmtDiameter mmtDiameterUnit}}</li>
        {{/each}}
      </ul>
    </div> <!-- adapters -->
    {{/if}}

    {{#unless singleManufacturer}}
    <div class="col-md-3">
      <label for="manufacturers" class="column-title">Manufacturers</label>
      <ul class="checkboxes">
        {{#each manufacturers}}
        <li><input type="checkbox" name="manufacturers" value="{{_id}}" checked> {{abbrev}}</li>
        {{/each}}
      </ul>
    </div> <!-- manufacturers -->
    {{/unless}}
  </div> <!-- row -->

  <div class="form-group">
    <div class="form-submit">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
{{/if}}
