<h1>{{title}}</h1>

<style type="text/css">
ul.trail {
  list-style-type: none;
  padding: 0;
}
ul.trail li {
  display: inline-block;
}
ul.trail li:not(.head)::before {
  content: " »  ";
}
ul.trail li:first-child::before {
  content: "";
}
ul.trail li.current .name {
  font-weight: bold;
  color: black;
}
.lists ul {
  padding: 0;
}
.lists li {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
</style>

<ul class="trail">
{{#each trail}}
  {{#if current}}
    <li class="current"><span class="name">{{label}}</span> ({{formatPosInt ../motorCount}})</li>
  {{else}}
    <li {{#if head}}class="head"{{/if}}><a href="{{link}}">{{label}}</a></li>
  {{/if}}
{{/each}}
</ul>

{{#unless lists}}
<p>No categories remain to be selected.</p>
{{/unless}}
{{#if lists}}
<div class="row lists">
  {{#each lists}}
  <div class="col-sm-2">
    <p class="column-title">{{label}}</p>
    <ul class="checkboxes">
      {{#each values}}
      <li><a href="{{link}}" title="{{label}}">{{label}}</a></li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
{{/if}}

{{#if motors}}
<h2>Matching Motors</h2>

<table id="motor-list" class="table table-bordered">
  <thead>
    <tr>
     <th>Designation</th>
     <th>Manufacturer</th>
     <th>Type</th>
     <th class="number">Diam</th>
     <th class="number">Impulse</th>
     <th class="number hidden-xs">Avg Thr</th>
     <th class="number hidden-xs">Burn</th>
     <th class="action hidden-xs"><input type="checkbox" id="select-all" title="select/deselect all"/></th>
    </tr>
  </thead>
  <tbody>
  {{#each motors}}
  <tr data-id="{{_id}}">
    <td><a href="{{motorLink _manufacturer this}}">{{motorDesignation this}}</td>
    <td>{{_manufacturer.abbrev}}</td>
    <td>{{formatType type}}</td>
    <td class="number" data-sort="{{formatSort diameter}}">{{formatMMT diameter}}</td>
    <td class="number" data-sort="{{formatSort totalImpulse}}">{{formatImpulse totalImpulse}}</td>
    <td class="number hidden-xs" data-sort="{{formatSort avgThrust}}">{{formatForce avgThrust}}</td>
    <td class="number hidden-xs" data-sort="{{formatSort burnTime}}">{{formatDuration burnTime}}</td>
    <td class="action hidden-xs"><input type="checkbox" name="select" value="{{_id}}" title="select this motor"/></th>
  </tr>
  {{/each}}
  </tbody>
</table>
<p class="hidden-xs">Choose two or more motors from the list to <a id="compare" href="#">Compare</a>.</p>
<script type="text/javascript">
setupTable('#motor-list', {
  order: [[4, 'asc']]
});
$('#select-all').click(function(e) {
  let all = $(this);
  let state = all.is(':checked');
  $('#motor-list td input[name=select]').each(function() {
    $(this).prop('checked', state);
  });
});
$('#motor-list td input[name=select]').click(function(e) {
  if (!$(this).is(':checked'))
    $('#select-all').prop('checked', false);
});
$('#compare').click(function(e) {
  e.preventDefault();
  let motors = '', count = 0;
  $('#motor-list td input[name=select]').each(function() {
    let checkbox = $(this);
    if (checkbox.is(':checked')) {
      if (motors !== '')
        motors += '&';
      motors += 'motors=' + checkbox.val();
      count++;
    }
  });
  if (count < 2)
    window.alert('Choose two or more motors from the list above.');
  else
    window.location = '/motors/compare.html?' + motors;
});
</script>
{{/if}}
